.awards-container {
  @include page-container-default();
  background: $background-dark;
  padding-bottom: 100px;
  @media (max-width: $layout-breakpoint-xsmall) {
    margin-top: -5px;
  }
  .awards-content {
    @include inner-container-default(90%);
    flex-direction: column;
    min-height: 50dvh;
    .awards-title {
      font-size: 5em;
      color: $text-light;
      @media (max-width: $layout-breakpoint-xsmall) {
        font-size: 3em;
      }
    }
    .awards-list {
      display: flex;
      justify-content: space-between;
      align-items: center;
      opacity: 0.8;
      @media (max-width: $layout-breakpoint-xsmall) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
      }
      .award-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 200px;
        opacity: 0.8;
        transition: 650ms;
        @media (max-width: $layout-breakpoint-xsmall) {
          min-height: 124px;
        }
        &:hover {
          transform: scale(1.05);
          opacity: 1;
          & p {
            display: block;
            transition: all 0.3s ease-in-out;
            margin: 0;
          }
        }
        & img {
          width: 124px;
          height: 124px;
          object-fit: contain;
          @media (max-width: $layout-breakpoint-xsmall) {
            width: auto;
            height: 72px;
          }
        }
        & p {
          display: none;
          font-size: 1.2em;
          color: $text-light;
          text-align: center;
          font-size: 0.88em;
          transition: 650ms;
        }
      }
    }
  }
}
