.banner {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  margin-top: 2.5vh;
  pointer-events: none;
  @media (max-width: $layout-breakpoint-medium) {
    margin-top: 0;
  }
  .banner-row {
    overflow: hidden;
    display: flex;
    align-items: center;
    @media (max-width: $layout-breakpoint-medium) {
      &:first-child {
        margin-top: 48px;
      }
    }
    &.center {
      justify-content: center;
      text-align: center;
      .row-letter {
        left: 0;
      }
    }
    &.right {
      justify-content: flex-end;
    }
    .row-title,
    .row-letter {
      font-size: 15rem;
      font-weight: 500;
      position: relative;
      letter-spacing: -1rem;
      display: inline-block;
      white-space: nowrap;
      padding-top: 0.01em;
      padding-bottom: 0.02em;
      @media (max-width: $layout-breakpoint-medium) {
        font-size: 10rem;
        letter-spacing: -0.5rem;
      }
      @media (max-width: $layout-breakpoint-xsmall) {
        font-size: 7.5rem;
        letter-spacing: -0.5rem;
      }
    }
    .row-col {
      width: 50%;
      display: flex;
      align-content: center;
      justify-content: center;
      @media (max-width: $layout-breakpoint-medium) {
        width: 70%;
      }
      @media (max-width: 1240px) {
        &:last-child {
          display: none;
        }
      }
      @media (max-width: $layout-breakpoint-xsmall) {
        width: 100%;
        justify-content: flex-start;
      }
    }
  }
}
