.footer {
  position: relative;
  height: 65dvh;
  background: $background-dark;
  color: $text-light;
  z-index: 5;
  .footer-content {
    position: relative;
    .top,
    .bottom {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      white-space: nowrap;
      height: fit-content;
      width: 100%;
      & img {
        width: 1024px;
        height: auto;
        margin-bottom: 25px;
        opacity: 0.33;
        pointer-events: none;
      }
      & a {
        font-size: 2em;
        margin: 0 25px;
        color: $text-light;
        transition: color 0.3s ease-in-out;
        &:hover {
          color: $yellow;
          transition: color 0.3s ease-in-out;
        }
      }
    }
    .bottom {
      margin-top: -256px;
    }
    & p {
      margin-top: 50px;
      opacity: 0.66;
    }
  }
}
#light {
  background: $background-light;
  & img {
    opacity: 1;
    filter: brightness(33%);
  }
  & p,
  a {
    color: $text;
    transition: color 0.3s ease-in-out;
    &:hover {
      color: $grey-dark;
      transition: color 0.3s ease-in-out;
    }
  }
}
