.hero-container {
  @include page-container-default();
  position: relative;
  display: flex;
  width: 100%;
  min-height: 100dvh;
  overflow-y: visible;
  @media (max-width: $layout-breakpoint-xsmall) {
    position: unset;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
  }
  .hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
    @media (max-width: $layout-breakpoint-xsmall) {
      order: 1;
      position: unset;
      display: flex;
      height: fit-content;
      width: 90%;
      margin-top: 50px;
    }
    & h1 {
      font-size: 14rem;
      letter-spacing: 0.1em;
      line-height: 0.88em;
      color: $text;
      text-shadow: 1px 1px 1px $background-light;
      font-family: $font-heavy;
      font-weight: 900;
      margin: 0;
      @media (max-width: $layout-breakpoint-medium) {
        font-size: 10rem;
        line-height: 1.1em;
      }
      @media (max-width: $layout-breakpoint-xsmall) {
        font-size: 3.5em;
        margin: 0;
      }
    }
  }
  .hero-animation {
    position: absolute;
    top: 64px;
    left: 15%;
    width: 100%;
    height: 100%;
    opacity: 0.25;
    transform: scale(1.5);
    z-index: 0;
    @media (max-width: $layout-breakpoint-xsmall) {
      position: unset;
      order: 2;
      transform: scale(2.5);
    }
  }
}
