.filters {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 55%;
  gap: 16px;
  @media (max-width: $layout-breakpoint-xsmall) {
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
  }
  & button {
    position: relative;
    display: flex;
    align-items: center;
    width: fit-content;
    height: fit-content;
    font-size: 1.25em;
    @media (max-width: $layout-breakpoint-xsmall) {
      min-width: 120px;
      height: 48px;
    }
    & .active-dot {
      display: flex;
      height: 12px;
      width: 12px;
      margin-right: 5px;
      border-radius: 50%;
      background: $dark;
    }
    & .count {
      display: flex;
      font-size: 0.88em;
      padding: 4px 8px;
      border-radius: 12px;
      color: $text;
    }
  }
}
