.who-i-am-container {
  position: relative;
  height: fit-content;
  width: 100%;
  z-index: 0;
  .content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: fit-content;
    .about-intro {
      position: relative;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: fit-content;
      margin-top: 80vh;
      padding-bottom: 5vh;
      background: $background-dark;
      z-index: 0;
      .about-intro-text {
        text-align: center;
        width: 50%;
        margin: 0 auto;
        font-size: 4.5em;
        font-family: $font-heavy;
        color: $text-light;
        #quote {
          color: $yellow-dark;
        }
        #intro-hover-point {
          position: relative;
          margin-left: 5px;
          text-decoration: underline;
          #hover-item {
            position: absolute;
            top: 100%;
            left: 0;
            z-index: 10;
            & video {
              height: 256px;
              width: auto;
            }
          }
        }
      }
    }
    .about-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      width: 80%;
      height: fit-content;
      margin-top: 100px;
      .left,
      .right {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        height: fit-content;
      }
      .left {
        width: 60%;
        & p {
          color: $grey-dark;
          font-size: 2em;
          margin: 0;
        }
      }
      .right {
        width: 20%;
        border-top: 3px solid $dark;
        & p {
          font-size: 1.2em;
          color: $dark;
          font-family: $font-heavy;
        }
      }
    }
  }
  .horizontal-section-wrapper {
    position: relative;
    display: flex;
    width: 100%;
    background: $background-dark;
    z-index: 1;
  }
}
