// Utility colors
$background-light: #f5f7ff;
$background-grey: #ccd6d8;
$background-grey-dark: #1a1a1a;
$background-dark: #0b090a;
$text: #0b090a;
$text-light: #e3e8eb;
$text-shadow: #aaaaaa;
$shadow: rgba(0, 0, 0, 0.5);

// Brand colors
$dark: #0b090a;
$grey-dark: #889293;
$grey-light: #b7c1c3;
$light: #d1d5d6;
$accent: #e3e8eb;
$white: #ffffff;
$blue: #385cad;
$yellow: #f2c94c;
$yellow-dark: #ffc71f;

$industry-agriculture: #8fbf4d;
$industry-marine: #2aa9c9;
$industry-education: #f2a65a;
$industry-government: #6b7fd7;
$industry-manufacturing: #a69f8d;
$industry-saas: #c57dff;
