// Utility colors
$background-light: #f5f7ff;
$background-grey: #ccd6d8;
$background-grey-dark: #1a1a1a;
$background-dark: #0b090a;
$text: #0b090a;
$text-light: #e3e8eb;
$text-shadow: #aaaaaa;
$shadow: rgba(0, 0, 0, 0.5);

// Brand colors
$dark: #0b090a;
$grey-dark: #889293;
$grey-light: #b7c1c3;
$light: #ccd6d8;
$accent: #e3e8eb;
$white: #ffffff;
$blue: #385cad;
$yellow: #f2c94c;
$yellow-dark: #ffc71f;
