.curved-text-container {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100dvh;
  overflow: visible;
  z-index: 0;
  .curved-text-svg {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    overflow: visible;
    .curved-text {
      font-size: 48px;
      font-family: $font-heavy;
      font-weight: 900;
      text-transform: uppercase;
      letter-spacing: 5px;
    }
  }
}
